.info {
    -fx-background-color: #6366F1;
    -fx-background-radius: 8px;
}

.info > .label {
    -fx-text-fill: white;
}

.closeBtn {
    -fx-background-color: #D02A2A;
    -fx-background-image: url("imgs/x_close.png");
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-pref-width: 60px;
    -fx-pref-height: 60px;
}